/* Default CSS  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

* {
  box-sizing: border-box;
}
body {
  background-color: #ecf0f1;
}
.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  width: 80%;
  margin: 0 auto;
  padding: 10px;
}
.gallery-item {
  flex-basis: 32.7%;
  margin-bottom: 6px;
  opacity: .85;
  cursor: pointer;
}
.gallery-item:hover {
  opacity: 1;
}
.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery-content {
  font-size: .8em;
}

.lightbox {
  position: fixed;
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  overflow: auto;
  top: 0;
  left: 0;
}
.lightbox-content {
  position: relative;
  width: 70%;
  height: 70%;
  margin: 5% auto;
}
.lightbox-content img {
  border-radius: 7px;
  box-shadow: 0 0 3px 0 rgba(225, 225, 225, .25);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.lightbox-prev,
.lightbox-next {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 7px;
  top: 45%;
  cursor: pointer;
}
.lightbox-prev {
  left: 0;
}
.lightbox-next {
  right: 0;
}
.lightbox-prev:hover,
.lightbox-next:hover {
  opacity: .8;
}

@media (max-width: 767px) {
  .gallery-container {
      width: 100%;
  }
  .gallery-item {
      flex-basis: 49.80%;
      margin-bottom: 3px;
  }
  .lightbox-content {
      width: 80%;
      height: 60%;
      margin: 15% auto;
  }
}
@media (max-width: 480px) {
  .gallery-item {
      flex-basis: 100%;
      margin-bottom: 1px;
  }
  .lightbox-content {
      width: 90%;
      margin: 20% auto;
  }
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/* CSS  */

/* Header Navbar*/
/* Header Navbar*/
/* Header Navbar*/
nav {
    background: #000;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

/* navbar logo section  */
.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

img.logo{
  width : 150px;
height : 150px;
}


/* nav toggle or click mobile menu  */
.nav-toggle {
    font-size: 1.5rem;
    color: hsl(205, 78%, 60%);
    background: transparent;
    border-color: transparent;
    transition: all 0.3s linear;
    cursor: pointer;
}

.nav-toggle:hover {
    color: hsl(205, 86%, 17%);
    transform: rotate(90deg);
}

.links {
    height: 0;
    overflow: hidden;
    transition: all 0.3s linear;
}

/* navbar link menu  */
.links a {
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    text-transform: capitalize;
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.3s linear;
}

.links a:hover {
    background: hsl(205, 86%, 81%);
    color: hsl(205, 78%, 60%);
    padding-left: 1.5rem;
}

/* show links call app.js  */
.show-links {
    height: 180px;
}

/* Navbar Responsive  */

@media screen and (min-width: 800px) {
    .nav-center {
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    }

    .nav-header {
        padding: 0;
    }

    .nav-toggle {
        display: none;
    }

    .links {
        height: auto;
        display: flex;
    }

    .links a {
        padding: 0;
        margin: 0 0.5rem;
    }

    .links a:hover {
        padding: 0;
        background: transparent;
    }
}



/* About Section  */
/* About Section  */
/* About Section  */
.about {
    background: #e8faf4;
    margin-top: 63px;
    padding: 4rem 0;
}

.about-container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about .about-title h1 {
    font-size: 50px;
    text-align: center;
}

.about-container .about-item {
    width: 50%;
}

.about-container .about-item .about-info h3 {
    font-size: 25px;
}

.about-container .about-item .about-info p {
    font-size: 17px;
    padding-top: 1rem;
}

.about-container .about-photo img {
    max-width: 100%;
}

/* About Responsive Section  */
@media screen and (max-width: 992px) {
    .about-container {
        width: 100%;
        padding: 2rem;
    }
}

@media screen and (max-width: 764px) {
    .about-container .about-item .about-info h3 {
        font-size: 20px;
    }
}

@media screen and (max-width: 676px) {
    .about-container {
        flex-direction: column;
    }

    .about-container .about-item.photo {
        order: calc(1);
    }

    .about-container .about-item {
        width: 100%;
        order: calc(2);
    }
}

@media screen and (max-width: 464px) {
    .about-container .about-item .about-info h3 {
        font-size: 17px;
    }

    .about-container .about-item .about-info p {
        font-size: 15px;
    }
}





@keyframes fade {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}

.controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5em;
    padding: 15px 10px;
    border-radius: 5px;

}

.controls:hover {
    background: white;
    transition: 0.3s;
}

.controls:active {
    color: grey;
}

#left-arrow {
    left: 10px;
    cursor: pointer;
}

#right-arrow {
    right: 10px;
    cursor: pointer;
}

#dots-con {

    text-align: center;
}

.dot {
    display: inline-block;
    background: #ccc;
    padding: 8px;
    border-radius: 50%;
    margin: 10px 5px;
    cursor: pointer;
}

.active {
    background: #444;
}



/* Portraits Section  */
/* Portraits Section  */
/* Portraits Section  */
/* Portraits Section  */
.portraits {
    background: #f7f7f7;
    padding: 3rem 0;
}

.portraits .title-container {
    width: 80%;
    margin: auto;
}

.portraits .title-container h3 {
    font-size: 25px;
    text-align: center;
    color: #000;
}

.portraits .title-container p {
    padding-top: 1rem;
    font-size: 17px;
    text-align: center;
}

.portraits .portraits-container {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    padding-top: 3rem;
}


.portraits .portraits-container .portraits-item .photo img {
    max-width: 100%;
    border-radius: 5px;
}



/* Portraits Responsive Section  */
@media screen and (max-width: 992px) {
    .portraits .title-container {
        width: 100%;
        padding: 0 2rem;
    }

    .portraits .portraits-container {
        width: 100%;
        padding: 2rem;
    }
}

@media screen and (max-width: 764px) {
    .portraits .title-container h3 {
        font-size: 20px;
    }
}

@media screen and (max-width: 622px) {
    .portraits .portraits-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 464px) {
    .portraits .title-container h3 {
        font-size: 17px;
    }

    .portraits .title-container p {
        font-size: 15px;
    }
}


/* Contact Section  */
/* Contact Section  */
/* Contact Section  */
.contact {
    max-width: 600px;
    text-align: center;
    padding: 2rem;
    margin: auto;
    background: #8E969D;
    margin-top: 3rem;
}

.contact h1 {
    font-size: 30px;
    color: #fff;
    text-align: center;
    margin-bottom: 2rem;
}

.contact a {
    font-size: 17px;
    color: #000;
    background: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

@media screen and (max-width: 324px) {
    .contact h1 {
        font-size: 25px;
    }
}


/* Footer  */
footer {
    background: #1f242d;
    padding: 2rem;
}

footer p {
    font-size: 17px;
    color: #fff;
    text-align: center;
}

/* accueil */
.background {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* Pour éviter le débordement de l'image */
}

.image-container {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
}

.start {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Pour conserver l'aspect ratio de l'image et la faire remplir le conteneur */
}

/* CSS */
.discover-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  font-size: 5vw; /* Utilisation de vw pour la taille de police */
  font-weight: 900;
  color: #3a4a4a;
  padding: 1vw 2vw; /* Utilisation de vw pour les marges internes */
  text-decoration: none;
  border-radius: 5px;
}

/* Utilisation de média queries pour ajuster le style en fonction de la largeur de l'écran */
@media (max-width: 768px) {
  .discover-link {
    font-size: 10vw;
    padding: 2vw 4vw;
  }
}
