
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppin', sans-serif;
}

body{
  background: #1f242d;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo{
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
}

.navbar a{
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: .3s;

}



section {
  margin: 0% 10%;
  padding: 0 10%;
}


.portfolio{
  width: 100%;
  height: 100%;
  bottom: 40vh;

  top: 100%;

}
.portfolio .grid__item {
  max-width: 50%;
  margin-bottom: 0;
  opacity: 1;
  transition: all 1s ease;
}

.portfolio2 .grid__item {
  max-width: 50%;
  margin-bottom: 0;
  opacity: 1;
  transition: all 1s ease;
}

.portfolio .grid__item.hide {
  opacity: 0;
  max-width: 0;
  padding: 0;
  overflow: hidden;
  transition: all .4s ease;
}

.portfolio2 .grid__item.hide {
  opacity: 0;
  max-width: 0;
  padding: 0;
  overflow: hidden;
  transition: all .4s ease;
}

.portfolio-filters .grid__item {
  max-width: 50%;
  margin-bottom: 0;
}

.portfolio-filters a {
  color: var(--color-body);
  background: #EEE;
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 1rem;
}

.portfolio-filters a.active {
  color: #B59970;
  background: #5b6c78;
}


.grid_portfolio{
  grid-template-columns: 1fr 1fr ;
  display: grid;
  justify-items: center;
  }

  .grid__item {
    flex-grow: 1;
    flex-shrink: 0;
    width: 100%;
    padding: 1rem;
  }

  @media screen and (min-width:750px) {
    .container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 2rem;
    }

    .grid__item {
      max-width: 50%;
    }
  }

  @media screen and (min-width: 700px) {
    .grid {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media screen and (min-width: 1200px) {
    .grid {
      display: flex;
    }
  }

/* Footer */

footer {
  background: #1f242d;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #ffffff;
  text-align: center;
  font-size: 0.4rem;
}

footer p {
  margin: 0;
  white-space: pre-line;
  margin-left: 40px;
  /* font-size: 10px; */
}
footer .grid {
  align-items: center;
}

footer .socials {
  justify-content: center;
  text-align: center;
}

footer .socials li {
  padding: 0 .7rem;
}

footer .socials a {

  border: 1px solid #FFF;
  border-radius: 50%;
  padding: 1rem;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  transition: all .4s;
}

footer .socials a:hover {
  background: #FFF;
  color: var(--color-body);
}


.adress {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  width: 100%;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

@media screen and (min-width:750px) {
  footer {
    text-align: left;
  }

  footer .grid__item {
    max-width: 33.333%;
  }
}







#a-propos {
  margin-top: 100px;
  margin-bottom: 50px;
  padding: 0 10%;

}

.img-desc .left {
  justify-self: center;
  height: 346px;
  width: 80%;
}
.img-desc .right {
  width: 100%;
  margin-left: 20px;
}

.img-desc .left img {
    width: 100%;



}
.img-desc .left::after {

    content: "";
    height: 100%;

    width: 100%;
    z-index: -1;
}

.img-desc {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;

}

.grid__item {
  flex-grow: 1;
  flex-shrink: 0;
  width: 100%;
  padding: 1rem;
}
