@import url('https://fonts.googleapis.com/css2?family=Poppin');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppin', sans-serif;
}

body{
  background: #1f242d;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo{
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
}

.navbar a{
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: .3s;

}

.navbar a:hover,
.navbar a.active{
  color: #0ef;


}

section {
  margin: 0% 10%;
  padding: 0 10%;
}


/* Footer */

footer {
  background: #1f242d;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #ffffff;
  text-align: center;
  font-size: 0.4rem;
}

footer p {
  margin: 0;
  white-space: pre-line;
  margin-left: 40px;
  /* font-size: 10px; */
}
footer .grid {
  align-items: center;
}

footer .socials {
  justify-content: center;
  text-align: center;
}

footer .socials li {
  padding: 0 .7rem;
}

footer .socials a {
  color: #B59970;
  border: 1px solid #FFF;
  border-radius: 50%;
  padding: 1rem;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  transition: all .4s;
}

footer .socials a:hover {
  background: #FFF;
  color: var(--color-body);
}


.adress {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  width: 100%;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

@media screen and (min-width:750px) {
  footer {
    text-align: left;
  }

  footer .grid__item {
    max-width: 33.333%;
  }
}

/* Ajustement de la marge pour les écrans de taille moyenne */
@media screen and (max-width: 768px) {
  .hero__p {
      margin-bottom: -35vh;
  }
}

/* Ajustement de la marge pour les petits écrans */
@media screen and (max-width: 480px) {
  .hero__p {
      margin-bottom: -35vh;
      margin-top: 20vh;
  }
}



@media screen and (max-width:749px) {
  .hero__item.left {
    order: 2;
  }

  .hero__item.right {
    order: 1;
  }
}

#a-propos {
  margin-top: 100px;
  margin-bottom: 50px;
  padding: 0 10%;
  width: 100%;
}

.img-desc .left {
  justify-self: center;
  height: 346px;
  width: 80%;
}
.img-desc .right {
  width: 100%;
  margin-left: 20px;
}

.img-desc .left img {
    width: 100%;



}
.img-desc .left::after {

    content: "";
    height: 100%;

    width: 100%;
    z-index: -1;
}

.img-desc {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;

}
